@page
@model IndexModel
@{
    ViewData["Title"] = "Daniel Moura - Web Designer e Web Develop";
    ViewData["Description"] = "Trabalho com desenvolvimentos de sites e sistemas voltados para internet, como e-commerce, CRM, gerenciamentos e aplicações web.";
    int yearExperience = DateTime.Now.Year - 2010;
}

<!-- Header Start -->
<div class="container-fluid bg-light my-6 mt-0" id="home">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                <h3 class="text-primary mb-3">Olá! Me chamo</h3>
                <h1 class="display-3 mb-3">Daniel</h1>
                <h2 class="typed-text-output d-inline"></h2>
                <div class="typed-text d-none">Web Designer, Web Developer, Front End Developer, Apps Developer</div>
                <div class="d-flex align-items-center pt-5">
                    <a href="https://github.com/dmodesigner/" class="btn btn-primary py-3 px-4 me-5">GitHub</a>
                    <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="img/profile.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-xxl py-6" id="about">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex align-items-center mb-5">
                    <div class="years flex-shrink-0 text-center me-4">
                        <h1 class="display-1 mb-0">@yearExperience</h1>
                        <h5 class="mb-0">Anos</h5>
                    </div>
                    <h3 class="lh-base mb-0">de experiencia como web designer e developer</h3>
                </div>
                <p class="mb-4">Precisa de um site ou até mesmo um sistema para seu negócio, entre em contato. Tenho certeza que chegaremos a um acordo excelente.</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Preços acessíveis</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Entregas com qualidade</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Entregas dentro do prazo combinado</p>
            </div>

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-3 mb-4">
                    <div class="col-sm-6">
                        <img class="img-fluid rounded" src="img/about-1.jpg" alt="">
                    </div>
                    <div class="col-sm-6">
                        <img class="img-fluid rounded" src="img/about-2.jpg" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <h5 class="border-end pe-3 me-3 mb-0">Clientes Felizes</h5>
                    <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">100</h2>
                </div>
                <p class="mb-4">Atendemos mais de 100 clientes que contam com nossas soluções para os mais variados portes de projetos.</p>
                <div class="d-flex align-items-center mb-3">
                    <h5 class="border-end pe-3 me-3 mb-0">Projetos Completados</h5>
                    <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">300</h2>
                </div>
                <p class="mb-0">Concluímos mais de 300 projetos entre sites, sistemas, logomarcas, otimizações de sites e etc.</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Expertise Start -->
<div class="container-xxl py-6 pb-5" id="skill">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-5">Habilidade & Experiencia</h1>
                <p class="mb-4">Nos @yearExperience anos de experiencia como desenvolvedor atuei em vários projetos como sites, e-commerce, sistemas focados em atender necessidades específicas de clientes, automatizações de tarefas repetidas. Com projetos para pequenos, médio e grandes portes. Atualmente tenho prestado serviços para grandes seguradoras como Zurich, Liberty, Axa focando em processos e automatizações de tarefas.</p>
                <h3 class="mb-4">Minhas habilidades</h3>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">HTML</h6>
                                <h6 class="font-weight-bold">95%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">CSS</h6>
                                <h6 class="font-weight-bold">85%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">C#</h6>
                                <h6 class="font-weight-bold">90%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Javascript</h6>
                                <h6 class="font-weight-bold">70%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">React</h6>
                                <h6 class="font-weight-bold">90%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Blazor</h6>
                                <h6 class="font-weight-bold">85%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Experiencia</button>
                    </li>
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Educação</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row gy-5 gx-4">
                            <div class="col-sm-6">
                                <h5>Tech Lead</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2017 - Atualmente</p>
                                <h6 class="mb-0">GTI Solution</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Analista Desenvolvedor</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2016 - 2017</p>
                                <h6 class="mb-0">Intermeio Soluções e Pagamentos</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Programador</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2011 - 2015</p>
                                <h6 class="mb-0">Wix</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Web Designer</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2010 - 2011</p>
                                <h6 class="mb-0">Visão Grupo</h6>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0">
                        <div class="row gy-5 gx-4">
                            <div class="col-sm-6">
                                <h5>Aplicações Mobile</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2020 - 2022</p>
                                <h6 class="mb-0">Udemy</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Aplicações Web</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2015 - 2019</p>
                                <h6 class="mb-0">Alura</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Formação ASP NET</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2011 - 2012</p>
                                <h6 class="mb-0">Impacta</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Sistemas para a internet</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2007 - 2009</p>
                                <h6 class="mb-0">Unicid</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Expertise End -->

<!-- Service Start -->
<div class="container-fluid bg-light my-5 py-6" id="service">
    <div class="container">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Meus Serviços</h1>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-crop-alt fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Criação de Sites</h4>
                        <h6 class="mb-3">Criamos o site personalizado para seu negócio ou necessidade.</h6>
                        <span>
                            Seu site sendo exibido em várias telas sempre com a melhor experiencia seja em um dispositivo móvel ou um computador. Além de ter boas práticas e técnicas que vão te ajudar a indexar seu site nos principais buscadores do mercado.
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-code-branch fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Marketing</h4>
                        <h6 class="mb-3">Criamos a sua logomarca, banners publicitários e tudo que é preciso para fazer seu negócio aparecer na internet.</h6>
                        <span>Vamos além da marca, criando e-mails marketing, banners para redes sociais e seu site, vídeos promocionais para ser usado em qualquer lugar da internet.</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-code fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">SEO</h4>
                        <h6 class="mb-3">Seja para indexar nas buscas orgânicas ou nas buscas patrocinadas</h6>
                        <span>Realizamos a campanha de estratégia e o acompanhamento para que seus negócios aparecem cada vez mais na internet. Nosso foco é sempre seu sucesso.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-laptop-code fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Programação</h4>
                        <h6 class="mb-3">Realizamos a programação do seu site ou sistema para atender a sua necessidade.</h6>
                        <span>Realizamos toda a programação backend para que site ou sistema funcione perfeitamente, podendo criar as API para que seja aberto a terceiros conforme a necessidade.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Projects Start -->
@* <div class="container-xxl py-6 pt-5" id="project">
    <div class="container">
        <div class="row g-5 mb-5 align-items-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">My Projects</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <ul class="list-inline mx-n3 mb-0" id="portfolio-flters">
                    <li class="mx-3 active" data-filter="*">All Projects</li>
                    <li class="mx-3" data-filter=".first">UI/UX Design</li>
                    <li class="mx-3" data-filter=".second">Graphic Design</li>
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/project-1.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/project-2.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/project-3.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/project-4.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/project-5.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-5.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/project-6.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-6.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- Projects End -->

<!-- Testimonial Start -->
<div class="container-fluid bg-light py-5 my-5" id="testimonial">
    <div class="container-fluid py-5">
        <h1 class="display-5 text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Testemunhos</h1>
        <div class="row justify-content-center">
            <div class="col-lg-3 d-none d-lg-block">
                <div class="testimonial-left h-100">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="img/testimonial-1.jpg" alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src="img/testimonial-2.jpg" alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src="img/testimonial-3.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="img/testimonial-1.jpg" alt="">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-5 fst-italic">Da criação da logomarca até o desenvolvimento da loja virtual tivemos um acompanhamento maravilhoso, com entregas dentro do prazo e um preço justo pelo serviço prestado.</p>
                        <hr class="w-25 mx-auto">
                        <h5>Lero Lero - Moda Infantil</h5>
                        <span>Natalia Oliveira</span>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="img/testimonial-2.jpg" alt="">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-5 fst-italic">Antes de conhecer a DMO Designer tivemos muitos problemas para manter nossa loja virtual com empresas que faziam pouco casos dos problemas reportados. Quando comecei a usar a plataforma de e-commerce fiquei surpreso pela qualidade e cuidado que eles tem. Todas as implantações são devidamente homologadas antes de ir para produção, passando por mim e minha equipe afim de obter a aprovação para ser implantada em produção.</p>
                        <hr class="w-25 mx-auto">
                        <h5>WMB Store</h5>
                        <span>Wolney Dias</span>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="img/testimonial-3.jpg" alt="">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-5 fst-italic">Contratei o serviço para criação de logomarca e um site para divulgação dos meus serviços e amei poder encontrar em um lugar tudo que preciso para ter o site no ar, sem ter que me preocupar com hospedagem. Se tenho algum problema com o site aciono a DMO Designer que cuida de tudo para mim.</p>
                        <hr class="w-25 mx-auto">
                        <h5>As Cores Iris</h5>
                        <span>Iris Moura</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="testimonial-right h-100">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="img/testimonial-1.jpg" alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src="img/testimonial-2.jpg" alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src="img/testimonial-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

<!-- Contact Start -->
<div class="container-xxl pb-5" id="contact">

    <div class="container py-5">

        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">

            <div class="col">

                <h1 class="display-5 mb-0">Vamos trabalhar juntos?</h1>

            </div>

        </div>

        <div class="row g-5">

            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">

                <p class="mb-2">Meu escritório:</p>

                <h3 class="fw-bold">São Paulo, Brasil</h3>

                <hr class="w-100">

                <p class="mb-2">WhatsApp:</p>

                <h3 class="fw-bold">@Designer.Telefone</h3>

                <hr class="w-100">

                <p class="mb-2">E-mail:</p>

                <h3 class="fw-bold">@Designer.Email</h3>

                <hr class="w-100">

                <p class="mb-2">Me siga:</p>

                <div class="d-flex pt-2">

                    <a class="btn btn-square btn-primary me-2" href="@Designer.Twitter" target="_blank"><i class="fab fa-twitter"></i></a>

                    <a class="btn btn-square btn-primary me-2" href="@Designer.Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-square btn-primary me-2" href="@Designer.Youtube" target="_blank"><i class="fab fa-youtube"></i></a>

                    <a class="btn btn-square btn-primary me-2" href="@Designer.Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>

                </div>

            </div>

            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">

                <form>

                    <div class="row g-3">

                        <div class="col-md-12">

                            <div class="form-floating">

                                <input type="text" class="form-control" id="name" placeholder="Seu Nome">

                                <label for="name">Seu Nome</label>

                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="form-floating">

                                <input type="text" class="form-control" id="name" placeholder="Seu Telefone">

                                <label for="name">Seu Telefone</label>

                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="form-floating">

                                <input type="email" class="form-control" id="email" placeholder="Seu E-mail">

                                <label for="email">Seu E-mail</label>

                            </div>

                        </div>

                        <div class="col-12">

                            <div class="form-floating">

                                <input type="text" class="form-control" id="subject" placeholder="Assunto">

                                <label for="subject">Assunto</label>

                            </div>

                        </div>

                        <div class="col-12">

                            <div class="form-floating">

                                <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>

                                <label for="message">Mensagem</label>

                            </div>

                        </div>

                        <div class="col-12">

                            <button class="btn btn-primary py-3 px-5" type="submit">Enviar Mensagem</button>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>
<!-- Contact End -->

<!-- Map Start -->
<div class="container-xxl pt-5 px-0 wow fadeInUp" data-wow-delay="0.1s">

    <div class="container-xxl pt-5 px-0">

        <div class="bg-dark">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d467692.3953778559!2d-46.924942233466055!3d-23.68143466049538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce448183a461d1%3A0x9ba94b08ff335bae!2zU8OjbyBQYXVsbywgU1A!5e0!3m2!1spt-BR!2sbr!4v1695176534700!5m2!1spt-BR!2sbr"
                    frameborder="0" style="width: 100%; height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>

        </div>

    </div>

</div>
<!-- Map End -->